body{
    background-color: aquamarine;
    
}
h1{
    text-align: center;
}
.container{
    border:2px solid #ccc;
    background-color: antiquewhite;
    width:35%;
    margin:auto;
    margin-top: 40px;
    padding:20px;
}

.btn_container{
    display: flex;
    justify-content: center;
    gap:5px;
    margin-top: 40px;
}
button{
    border:none;
    padding:10px;
    background-color: rgb(222, 48, 48);
    color:white;
    cursor: pointer;
    font-size: 1.1rem;
}